*{
    margin: 0;
    padding: 0;
    font-family: Roboto ;
    box-sizing: border-box;
    
}


ul{
    list-style: none;
}


a{
    text-decoration: none;
}

header{
    background-color: black;
    display: flex;
    color:white;
    
}

    
.menu{
    background-color: white;
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 40px;
    font-size: 17px;
    padding:  10px 50px ;

}

.boton1{
    background-color: white;
    border: 0;
    font-size: 20px;
    cursor: pointer;
}

.boton1:hover{
    color: lightblue;
}

.boton2{
    background-color: lightslategray;
    border: 0;
    font-size: 15px;
    cursor: pointer;
}

.barra-buscar{
    background-color: lightslategray;
    height: 40px;
    padding: 5px 700px;
    
}

.producto-buscar{
    padding: 5px 35px;
}

main{
    background-color: lightgray;
    padding: 2rem;
    height: 100vh;
}

.titulo-productos{
font-size:32px;
padding: 1rem;
}

.contenedor-productos{
display: flex;
gap: 5rem;
}

.productos{
    background-color: black;
    color: white;
    border-radius: 15px;
    
    position: relative;
  
}

.producto-imagen{
    width: 280px;
    height: 280px;
    border-radius: 15px;
}

.prodcuto-detalles{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.agregar-producto{
border:0;
background-color: white;
font-weight:bolder;
border-radius: 15px;
padding: 10px;
cursor: pointer;
}

.agregar-producto:hover{
    background-color: whitesmoke;
    
}

/****************Pagina carrito********************/

.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 18px;
    padding:  10px;
    
}

.carrito-vacio{
    padding: 10px;
}

.producto-imagen-carrito{
    max-width: 150px;
    border-radius: 15px
}

.carrito-producto-eliminar{
    border:0;
    background-color: white;
    font-weight:bolder;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer
}

.carrito-producto-eliminar{
    border: 0;
    cursor: pointer;
    background-color: lightgray;
    color:black;
    font-size: 25px;
    transition: 0.3s;
}

.carrito-producto-eliminar:hover{
    color:gray
}



.carrito-acciones{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.carrito-vaciar-producto{
    border:0;
    background-color: lightgray;
    cursor: pointer;
    transition: .2s;
    font-size: 17px;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}


.carrito-vaciar-producto:hover{
    color: red;
    background-color: whitesmoke;
}

.boton-comprar-producto{
    display: flex;
    border:0;
    background-color: lightgray;
    cursor: pointer;
    transition: .2s;
    font-size: 17px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;

}
.boton-comprar-producto:hover{
    background-color: aquamarine;
}

.producto-total-comprar{
font-size: 20px;
font-weight: bolder;
display: flex;
justify-content:left;
align-items: center;
padding: 15px;
background-color: white;
border-radius: 15px;
}

.disabled {
    display: none
}

