* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto';
   
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 20px ;
    background-color: black;
}
h1 {
    color: white;
   
    font-size: 30px;
}

ul{
    list-style: none;
}

.menu{
    background-color: whitesmoke;
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 40px;
    font-size: 17px;
    padding: 10px 50px
    
}

#boton-carrito {
    border: none;
    color: white;
    font-size: 30px;
    background-color: black;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .5s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: lightblue;
    
}
#boton-carrito:focus {
    outline: none;
    ;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem
}

p {
    line-height: 1.8;
}
.producto {
    background-color: black;
    color: white;
    border-radius: 15px;
    position: relative;
    
}
.precio-producto{
    font-weight: 700;
}
.boton-agregar {
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: 700;
    padding: 8px;
   
    border-radius: 15px;
    width: 280px;
}
.boton-agregar:hover {
    cursor: pointer;
    background-color: lightblue;
}
.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: black;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: black;
    background-color: white;
    border: none;
  
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito  {
    padding-top: 10px;
    
    
}

.precio-producto{
    font-weight: bolder;
}

.producto-carrito{
 
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}


.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}

.imagen-producto{
    width: 280px;
    height: 280px;
    border-radius: 15px;
}

.barra-buscar{
    background-color: lightslategray;
    height: 40px;
    padding: 5px 700px;
    height: 30px;
}

.producto-buscar{
    width: 300px;
    height: 23px;
}

.boton2{
    background-color: lightslategray;
    border: 0;
    font-size: 15px;
    cursor: pointer;
}

